* {
	box-sizing: border-box;
}

body {
	color: #1e2129;
	background-color: #f3f4f5;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#mobileView {
	position: fixed;
	width: 100%;
	height: 100vh;
	padding: 0 24px;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	z-index: 999;
}

#mobileView div {
	width: 100%;
	line-height: 2;
	text-align: center;
}

@media (max-width: 960px) {
	#mobileView {
		display: flex;
	}
}
