* {
	box-sizing: border-box;
}

body {
	color: #1e2129;
	background-color: #f3f4f5;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#mobileView {
	position: fixed;
	width: 100%;
	height: 100vh;
	padding: 0 24px;
	display: none;
	background: #1e2129;
	border: 8px solid;
	border-image-source: linear-gradient(42deg, #ffaa0d 0%, #1e2129 30%, #1e2129 70%, #ffaa0d 100%);
	border-image-slice: 1;
	z-index: 999;
}

#mobileView img {
	max-width: 200px;
}

#mobileView div {
	width: 100%;
	color: #ffffff;
	line-height: 2;
	text-align: center;
	margin: 36px 0;
}

@media (max-width: 960px) {
	#mobileView {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #eeeeee;
	border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #a5a6a9;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #838589;
}

.Toastify__toast--success {
	background-color: #0abf7e !important;
}

.Toastify__toast {
	padding: 12px 18px !important;
	border-radius: 3px !important;
	line-height: 1.5 !important;
	border-radius: 3px !important;
}
